<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiruantong.basic.mapper.product.BaseProductTypeMapper">

  <select id="getChildrenId" resultType="java.lang.Long">
    WITH RECURSIVE recursiveInfo AS (
     SELECT type_id, type_name, parent_id, tenant_id FROM base_product_type WHERE type_id = #{typeId}
     UNION ALL SELECT c.type_id, c.type_name, c.parent_id, c.tenant_id
     FROM base_product_type c INNER JOIN recursiveInfo ON c.parent_id = recursiveInfo.type_id
    )
    SELECT type_id FROM recursiveInfo
  </select>
</mapper>
