@font-face {
  font-family: 'icon-yrt2'; /* Project id 2298093 */
  src: url('//at.alicdn.com/t/c/font_2298093_rnp72ifj3ba.woff2?t=1669683406059') format('woff2'), url('//at.alicdn.com/t/c/font_2298093_rnp72ifj3ba.woff?t=1669683406059') format('woff'), url('//at.alicdn.com/t/c/font_2298093_rnp72ifj3ba.ttf?t=1669683406059') format('truetype');
}

.icon-yrt2 {
  font-family: 'icon-yrt2' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=' yrt2-'],
[class^='yrt2-'] {
  font-family: icon-yrt !important;
  font-size: 14px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.yrt2-quanjushezhi_o:before {
  content: '\eb80';
}

.yrt2-yunshangchuan_o:before {
  content: '\ebb3';
}

.yrt2-yunxiazai_o:before {
  content: '\ebb4';
}

.yrt2-shuaxin:before {
  content: '\e63e';
}

.yrt2-diannao1:before {
  content: '\e622';
}

.yrt2-barcode-qr:before {
  content: '\e61e';
}

.yrt2-zhongduancanshuchaxun:before {
  content: '\e638';
}

.yrt2-shouye_dongtaihui:before {
  content: '\e606';
}

.yrt2-putong:before {
  content: '\e603';
}

.yrt2-dongtai:before {
  content: '\e659';
}

.yrt2-wenducanshu-05:before {
  content: '\e634';
}

.yrt2-zhongduancanshu:before {
  content: '\e63b';
}

.yrt2-tongzhi1:before {
  content: '\e63a';
}

.yrt2-tongzhi2:before {
  content: '\e649';
}

.yrt2-tongzhi3:before {
  content: '\e648';
}

.yrt2-tongzhi4:before {
  content: '\e60c';
}

.yrt2-dianhua:before {
  content: '\e615';
}

.yrt2-xianshimima:before {
  content: '\e63c';
}

.yrt2-yincangmima:before {
  content: '\e63d';
}

.yrt2-shuxing:before {
  content: '\e67a';
}

.yrt2-juxingkaobei:before {
  content: '\e7a5';
}

.yrt2-shuxingtu:before {
  content: '\e685';
}

.yrt2-bolangneng:before {
  content: '\e745';
}

.yrt2-bolangnengshiyanchang:before {
  content: '\e746';
}

.yrt2--chaifenhang:before {
  content: '\e6d1';
}

.yrt2--chaifenlie:before {
  content: '\e6d0';
}

.yrt2-tupianyulan:before {
  content: '\e67e';
}

.yrt2-15tupianyulan:before {
  content: '\e624';
}

.yrt2-728bianjiqi_zitidaxiao:before {
  content: '\e660';
}

.yrt2-ziti:before {
  content: '\e7b1';
}

.yrt2-font-size:before {
  content: '\eaef';
}

.yrt2-tuodong:before {
  content: '\e6a8';
}

.yrt2-zhongyingwen1:before {
  content: '\e7a3';
}

.yrt2-fuhao-yingwen:before {
  content: '\e714';
}

.yrt2-fuhao-zhongwen:before {
  content: '\e712';
}

.yrt2-diqiu:before {
  content: '\e689';
}

.yrt2-xingqiu:before {
  content: '\e65c';
}

.yrt2-diqiu1:before {
  content: '\e631';
}

.yrt2-huanjingxingqiu:before {
  content: '\e617';
}

.yrt2-zidingyibuju:before {
  content: '\e637';
}

.yrt2-dayin:before {
  content: '\e612';
}

.yrt2-step:before {
  content: '\e601';
}

.yrt2-30xuanzhongyuanxingfill:before {
  content: '\e677';
}

.yrt2-shibai:before {
  content: '\e60b';
}

.yrt2-7_round_solid:before {
  content: '\e64d';
}

.yrt2-6_round_solid:before {
  content: '\e64e';
}

.yrt2-9_round_solid:before {
  content: '\e64f';
}

.yrt2-1_round_solid:before {
  content: '\e650';
}

.yrt2-5_round_solid:before {
  content: '\e651';
}

.yrt2-2_round_solid:before {
  content: '\e654';
}

.yrt2-0_round_solid:before {
  content: '\e655';
}

.yrt2-3_round_solid:before {
  content: '\e656';
}

.yrt2-4_round_solid:before {
  content: '\e657';
}

.yrt2-8_round_solid:before {
  content: '\e658';
}

.yrt2-radio-off-full:before {
  content: '\ea6b';
}

.yrt2-tongzhi:before {
  content: '\e600';
}

.yrt2-ditu:before {
  content: '\e8bc';
}

.yrt2-ico:before {
  content: '\e646';
}

.yrt2-chazhaobiaodanliebiao:before {
  content: '\e76a';
}

.yrt2-biaodan:before {
  content: '\e61d';
}

.yrt2-siweidaotu:before {
  content: '\e614';
}

.yrt2-jiliandongxuanzeqi:before {
  content: '\e616';
}

.yrt2-caijian:before {
  content: '\e611';
}

.yrt2-fuwenben:before {
  content: '\e7e4';
}

.yrt2-fuwenbenkuang:before {
  content: '\e66f';
}

.yrt2-shangchuan:before {
  content: '\e663';
}

.yrt2-xuanzeqi:before {
  content: '\e635';
}

.yrt2-fangkuang:before {
  content: '\e642';
}

.yrt2-gouxuan-weixuanzhong-xianxingfangkuang:before {
  content: '\e77b';
}

.yrt2-shidu:before {
  content: '\e60a';
}

.yrt2-yangan:before {
  content: '\e67d';
}

.yrt2-wendu:before {
  content: '\e686';
}

.yrt2-zaosheng:before {
  content: '\e61c';
}

.yrt2-jinridaiban:before {
  content: '\e60f';
}

.yrt2-AIshiyanshi:before {
  content: '\e609';
}

.yrt2-shenqingkaiban:before {
  content: '\e639';
}

.yrt2-zhongyingwenqiehuan:before {
  content: '\e611';
}

.yrt2-zhongyingwen:before {
  content: '\e605';
}

.yrt2-zhongyingzhuanhuan:before {
  content: '\e6a2';
}

.yrt2-zhongyingwenyuyan:before {
  content: '\e609';
}

.yrt2-shuju:before {
  content: '\e613';
}

.yrt2-ico_shuju:before {
  content: '\e6ff';
}

.yrt2-shuju1:before {
  content: '\e60e';
}

.yrt2-fuzhiyemian:before {
  content: '\e772';
}

.yrt2-caozuo-wailian:before {
  content: '\e711';
}

.yrt2-yrt2-:before {
  content: '\e620';
}

.yrt2-gerenzhongxin:before {
  content: '\e60d';
}

.yrt2-caidan:before {
  content: '\e652';
}

.yrt2-xitongshezhi:before {
  content: '\e69b';
}

.yrt2-neiqianshujuchucun:before {
  content: '\e62f';
}

.yrt2-shouye:before {
  content: '\e653';
}

.yrt2-quanxian:before {
  content: '\e610';
}

.yrt2-zujian:before {
  content: '\e85e';
}

.yrt2-crew_feature:before {
  content: '\e602';
}

.yrt2-gongju:before {
  content: '\e62d';
}

.yrt2-skin:before {
  content: '\e636';
}

.yrt2-shixinyuan:before {
  content: '\e669';
}

.yrt2-webicon318:before {
  content: '\e6a9';
}

.yrt2-dian:before {
  content: '\e608';
}

.yrt2-fullscreen:before {
  content: '\e623';
}

.yrt2-tuichuquanping:before {
  content: '\e641';
}
